link(rel='stylesheet', href='css/footer.css')
footer
    div.center
        div.logo
            img(src="resources/logo.png", alt="Tesla").logo#footlogo
        div.copyright
            p Lorem ipsum Lorem ipsum
            p Lorem ipsum
        div.social
            span.fa-stack.fa-lg
                i.fa.fa-circle.fa-stack-2x.icon-background
                i.fab.fa-facebook-f.fa-stack-1x.icon-color