
head
  link(rel='stylesheet', href='css/menu.css')
  div.header
    div.content
      img(src="resources/logo.png", alt="", srcset="").logo
      nav
        ul
          li.textspace
            a Hola1
          li.textspace |
          li.textspace
            a Hola2
          li.textspace |
          li.textspace
            a Hola3
          li.textspace |
          li.textspace
            a Hola4