
head
  link(rel='stylesheet', href='css/menu.css')
  div.header
    div.content
      img(src="resources/logo.png", alt="", srcset="").logo
      nav
        ul
          li
            a Hola1
          li |
          li
            a Hola2
          li |
          li
            a Hola3
          li |
          li
            a Hola4