link(rel='stylesheet', href='css/slider.css')

div.slider
    ul
        li
            img(src="https://cdn.vox-cdn.com/thumbor/E7HsNNmkOHGmEmWbePbrLB_JNG0=/0x0:3840x2160/1200x675/filters:focal(1613x773:2227x1387)/cdn.vox-cdn.com/uploads/chorus_image/image/57642479/Roadster_Hero.0.jpg")
            
        li
            img(src="https://www.diariomotor.com/imagenes/picscache/1920x1600c/tesla-model-s-p100d_1920x1600c.jpg")
        li
            img(src="https://www.tesla.com/tesla_theme/assets/img/models/v1.0/section-hero-background.jpg?20180111")
div.grid-container
    div.grid-item
        h1 Carro 1
    div.grid-item
        h1 Carro 2
   

div.botones
    div
        b.boton1 Ver más
