link(rel='stylesheet', href='css/slider.css')
div.slider
    ul
        li
            img(src="https://icdn6.digitaltrends.com/image/digitaltrends_es/available-on-the-grand-sport-3lt-trim-the-carbon-65-edition-celebrates-65-years-of-corvette-with-a-new-ceramic-matrix-gray-paint-color-and-visible-carbon-fiber-exterior-elements-including-a-carbon-f-1208x800.jpg")
            
        li
            img(src="https://www.diariomotor.com/imagenes/picscache/1920x1600c/tesla-model-s-p100d_1920x1600c.jpg")
        li
            img(src="https://st1.uvnimg.com/e4/d8/667bc93b41cfb637c3343d9f16e7/roadster-front-34.jpg")
div.grid-container
    div.grid-item
        h1.title1 Carro 1
    div.grid-item
        h1.title2 Carro 2
   

div.botones
    div
        b.boton1 Ver más
    div
        b.boton2 Ver más
